extends ./pages/_layout.pug
block append content
  include ./pages/_loading.pug
  include ./pages/_alert.pug
  .wrapper
    include ./pages/_nav.pug
    .container#room
      .row
        .img-group.col-md-9
          h1
          .img-large
          ul.list-group.mt-3
            li.
            li
            li
          .label-weekday weekday price
        .form-group.col-md-4.fixed#totle-price
          .room-price
            .normal-price
            .holiday-price
          .form-item.form-date
            label(for="date_checkin")
              i.material-icons date_range
            input(type="button" value="check-in & Check-out")
          .form-total
          button.send(type="submit" data-button="send") reserve now
          .msg-alert

      .row.col-md-8.mt-5
        .description
          .info-title.mb-2 description
          .info-cont
      .row.mt-5
        .amenities
          .info-title.mb-2 Amenities
          .info-cont
            ul.amenities-list
              li
                i.material-icons wifi
                span Wi-Fi
              li
                i.material-icons tv
                span Television
              li
                i.material-icons landscape
                span Great View
              li
                i.material-icons restaurant
                span Breakfast
              li
                i.material-icons ac_unit
                span Air Conditioner
              li
                i.material-icons smoke_free
                span Smoke Free
              li
                i.material-icons local_bar
                span Mini Bar
              li
                i.material-icons kitchen
                span Refrigerator
              li
                i.material-icons child_care
                span Child Friendly
              li
                i.material-icons room_service
                span Room Service
              li
                i.material-icons weekend
                span Sofa
              li
                i.material-icons pets
                span Pet Friendly
    include ./pages/_footer.pug
