extends ./pages/_layout.pug
block append content
	include ./pages/_loading.pug
	include ./pages/_alert.pug
	.wrapper
		include ./pages/_nav.pug
		.container#form.col-md-9
			.row.success-title
				| Reservation
				br
				| received!
			.row.success-detail
				ul
					li
						.detail-form
							.title Guest
							.info
						.detail-form
							.title phone
							.info
					li
						.detail-form
							.title room
							.info
					li
						.detail-form
							.title check-in
							.info
						.detail-form
							.title check-out
							.info

			.row.success-btns.my-5
				button(data-button="delete") 
					| Delete all reservations
					span (For Developer)
				a.home(href="./") homepage
		include ./pages/_footer2.pug