.container
    .row.footer
        .copyright
            .logo-sm HH
            p
                | © 
                span.year
                |  HexHotel. All rights reserved.
            p
                | Design by 
                a(href="https://challenge.thef2e.com/user/2760?schedule=3948#works-3948", target="_blank") Juniwu 
                
        .address
            | No. 5, Kaokao St., Kaohsiung City 803, Taiwan
        