.container-fluid
    .row.mt-5
        .map.col-md-12
            .address
                span No. 5, Kaokao St., Kaohsiung City 803, Taiwan
                br
                span +886 7 890 1234
                br
                span service@hexhotel.com
.container.pt-0
    .row
        .copyright.col-md-12
            .logo-sm HH
            p
                | © 
                span.year
                |  HexHotel. All rights reserved.
            p
                | Design by 
                a(href="https://challenge.thef2e.com/user/2760?schedule=3948#works-3948", target="_blank") Juniwu 